*{
    margin : 0 ; 
    padding : 0 ; 
    list-style : none ; 
}

body{
    background : rgb(255, 255, 255) ; 
    line-height : 1.5em ; 
    color : rgb(63, 63, 63) ; }

.container0{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#header{
    background : url("img/O-DAN_bg0.jpg") ; 
    background-size: cover;
    border-bottom : 3px solid rgb(100, 149, 143) ; 
    color : rgb(100, 149, 143) ; 
    padding : 15px 0 ; 
}

#footer{
    background : rgb(100, 149, 143) ; 
    border-top : 3px solid rgb(255, 255, 255) ; 
    color : rgb(100%, 100%, 100%) ; 
    padding : 15px 0 ; 
    text-align : center ; 
    margin-top: auto;
}

p{
    line-height : 1.5em ; 
    margin : 0 0 30px 0 ; 
}

h1{
    margin : 0 0 10px 0 ; 
    padding : 20px 0 ;
}

.box-in{
    width : 900px ; 
    margin : 0 auto ; 
}

#container1{
    width : 1100px ; 
    margin : 20px auto 20px auto ; 
}

#m4_fc{
    background: rgb(100, 149, 143);
    padding: 15px ;
    width: 350px ;
    float: center ;
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体" ;
}

#m4_name{
    font-size: 20px;
    font-family: "Yu Gothic SemiBold", "游ゴシック SemiBold", "YuGothic Semibold" ;
}

#left{

    padding : 15px ; 
    width : 200px ; 
    float : left ; 
}

#left li a{
    background : rgb(224, 234, 233) ; 
    border-left : 3px solid rgb(100, 149, 143) ; 
    color : rgb(25%, 25%, 25%) ; 
    padding : 5px 10px ; 
    margin : 0 0 10px 0 ; 
    text-decoration : none ; 
    display : block ; 
}

#left li a:hover{
    background : rgb(161, 192, 188) ; 
    color : rgb(100%, 100%, 100%) ; 
}

h2{
    background : rgb(100, 149, 143) ; 
    border-bottom : 3px solid rgb(100, 149, 143) ; 
    color : rgb(255, 255, 255) ; 
    padding : 5px 10px ; 
    margin : 0 0 10px 0 ; 
    font-size : 18px ; 
}

#right{

    margin : 0 290px 0 240px ;
    float : center ;  
}

h3{ 
    border-bottom : 3px solid rgb(100, 149, 143) ; 
    color : rgb(63, 63, 63) ; 
    padding : 0 0 2px 0 ; 
    margin : 0 0 10px 0 ; 
    font-size : 18px ; 
}